
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/ionicons.min.css" />
		<link rel="stylesheet" href="../css/AdminLTE.min.css" />
		<link rel="stylesheet" href="../css/_all-skins.min.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/home.css" />
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/fastclick.js"></script>
		<script type="text/javascript" src="../js/jquery.sparkline.min.js"></script>
		<script type="text/javascript" src="../js/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="../js/adminlte.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/angular.min.js" ></script>
		<script type="text/javascript" src="../js/angular-route.min.js" ></script>
		<script type="text/javascript" src="../js/angular-animate.min.js"></script>
		<script type="text/javascript" src="../js/demo.js"></script>
		<script src="../js/echarts.min.js"></script>
		<script src="../js/shine.js"></script>
		<style>
		</style>

	</head>

	<body ng-app="myApp" class="hold-transition skin-blue sidebar-mini">

	<div class="modal fade" id="alertUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="alertUpModalLabel">
						接口数据
					</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="alertName" style="font-weight: normal;">报警名称</label>
							<input type="text" class="form-control" id="alertName" ng-model="alertName"/>
						</div>
						报警条件：(x - 来自接口数据)
						<div class="row">

							<div class="col-md-3">

								<select class="form-control" id="alertTiaojian">
									<option value="1">&gt;</option>
									<option value="2">=</option>
									<option value="3">&lt;</option>
									<option value="4">&gt;=</option>
									<option value="5">&lt;=</option>
									<option value="6">!=</option>
								</select>

							</div>

							<div class="col-md-3">
								<input class="form-control" type="text" placeholder="Default input" id="alertTJValue"/>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" id="saveAlertUp">
						提交更改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div class="modal fade" id="chartDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="chartDataModalLabel">
						接口数据
					</h4>
				</div>
				<div class="modal-body">
					<div id="main" style="width: 600px;height:400px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary">
						提交更改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						修改接口
					</h4>
				</div>

				<div class="modal-body">

					<div class="box-body .container">

						<form>

							<div class="form-group">
								<label for="exampleInputEmail1" style="font-weight: normal;">接口名称：</label>
								<input type="text" class="form-control" id="exampleInputEmail1" />
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1" style="font-weight: normal;">接口描述：</label>
								<textarea  id="interfaceDescribtion" class="form-control" rows="3" ng-model="interfaceDescription"></textarea>
							</div>
						</form>

					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" id="saveUpdateInterface">
						提交更改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="wrapper">
	<header class="main-header">

		<!-- Logo -->
		<a href="#/" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>I</b>OT</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>IOT</b></span>
		</a>

		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#/" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->
					<li class="dropdown messages-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="label label-success">4</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 4 messages</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- start message -->
										<a href="#">
											<div class="pull-left">
												<img src="../img/user2-160x160.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Support Team
												<small><i class="fa fa-clock-o"></i> 5 mins</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<!-- end message -->
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../img/user3-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												AdminLTE Design Team
												<small><i class="fa fa-clock-o"></i> 2 hours</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../img/user4-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Developers
												<small><i class="fa fa-clock-o"></i> Today</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../img/user3-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Sales Department
												<small><i class="fa fa-clock-o"></i> Yesterday</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../img/user4-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Reviewers
												<small><i class="fa fa-clock-o"></i> 2 days</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">See All Messages</a></li>
						</ul>
					</li>
					<!-- Notifications: style can be found in dropdown.less -->
					<li class="dropdown notifications-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="label label-warning">10</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 10 notifications</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<i class="fa fa-users text-aqua"></i> 5 new members joined today
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
											page and may cause design problems
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-users text-red"></i> 5 new members joined
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user text-red"></i> You changed your username
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">View all</a></li>
						</ul>
					</li>
					<!-- Tasks: style can be found in dropdown.less -->
					<li class="dropdown tasks-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-flag-o"></i>
							<span class="label label-danger">9</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 9 tasks</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Design some buttons
												<small class="pull-right">20%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
													 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">20% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Create a nice theme
												<small class="pull-right">40%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
													 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">40% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Some task I need to do
												<small class="pull-right">60%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
													 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">60% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Make beautiful transitions
												<small class="pull-right">80%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
													 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">80% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
								</ul>
							</li>
							<li class="footer">
								<a href="#">View all tasks</a>
							</li>
						</ul>
					</li>
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="../img/user2-160x160.jpg" class="user-image" alt="User Image">
							<span class="hidden-xs">Alexander Pierce</span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header">
								<img src="../img/user2-160x160.jpg" class="img-circle" alt="User Image">

								<p>
									Alexander Pierce - Web Developer
									<small>Member since Nov. 2012</small>
								</p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="row">
									<div class="col-xs-4 text-center">
										<a href="#">Followers</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Sales</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Friends</a>
									</div>
								</div>
								<!-- /.row -->
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-default btn-flat">Sign out</a>
								</div>
							</li>
						</ul>
					</li>
					<!-- Control Sidebar Toggle Button -->
					<li>
						<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
					</li>
				</ul>
			</div>

		</nav>
	</header>
		<!-- header end!-->


		<!--left asid start-->
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="../img/user2-160x160.jpg" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>Alexander Pierce</p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
					</div>
				</form>
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">MAIN NAVIGATION</li>

					<li>
						<a href="#">
							<i class="fa fa-th"></i> <span>首页</span>
							<span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
						</a>
					</li>

					<li class="active treeview menu-open">
						<a href="#">
							<i class="fa fa-dashboard"></i> <span>智能设备</span>
							<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
						</a>
						<ul class="treeview-menu">
							<li class="active"><a href="#/deviceList"><i class="fa fa-circle-o"></i> 设备列表</a></li>
							<li ><a href="#/devicesController"><i class="fa fa-circle-o"></i> 设备遥控</a></li>
							<li ><a href="#/addDevices"><i class="fa fa-circle-o"></i> 添加设备</a></li>
						</ul>
					</li>


					<li class="treeview">
						<a href="#">
							<i class="fa fa-pie-chart"></i>
							<span>数据接口</span>
							<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
						</a>
						<ul class="treeview-menu">
							<li class="active" ><a href="#/mathLists"><i class="fa fa-circle-o"></i> 接口列表</a></li>
							<li><a href="#/addMath"><i class="fa fa-circle-o"></i> 添加接口</a></li>
						</ul>
					</li>

					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>报警提示</span>
							<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
						</a>
						<ul class="treeview-menu">
							<li><a href="#/alertList"><i class="fa fa-circle-o"></i> 报警列表</a></li>
							<li><a href="#/addAlert"><i class="fa fa-circle-o"></i> 添加报警</a></li>
							<li><a href="#/timerList"><i class="fa fa-circle-o"></i> 定时器列表</a></li>
							<li><a href="#/addTimer"><i class="fa fa-circle-o"></i> 添加定时器</a></li>
						</ul>
					</li>

					<li class="header">LABELS</li>
					<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>群组讨论</span></a></li>
					<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>用户论坛</span></a></li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>



		<div  class="mainContent content-wrapper" ng-view>

		</div>
		<!-- mainContetn end-->
		</div>
		
        <script>
            var app = angular.module('myApp',['ngRoute','ngAnimate']);
            app.config(['$routeProvider', function($routeProvider){
                $routeProvider
                .when('/deviceList',{templateUrl:'devices/devicesList.html',controller:'deviceListController'})
                .when('/devicesController',{templateUrl:'devices/devicesController.html',controller:'devicesController'})
                .when('/addDevices',{templateUrl:'devices/addDevices.html',controller:'addDeviceController'})
                .when('/alertList',{templateUrl:'timers/alertList.html',controller:'alertListController'})
                .when('/addAlert',{templateUrl:'timers/addAlert.html',controller:'addAlertController'})
                .when('/timerList',{templateUrl:'timers/TimerList.html'})
                .when('/addTimer',{templateUrl:'timers/addTimer.html',controller:'addTimerController'})
                .when('/mathLists',{templateUrl:'mathInterface/mathtList.html',controller:'mathInterfaceListController'})
                .when('/addMath',{templateUrl:'mathInterface/addMath.html'})
                .otherwise({redirectTo:'/',templateUrl:'homList.html',controller:'homeListController'});
            }]);
            //自定义过滤器
            app.filter('isOnline', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='0'){

                        text = text.replace("0","不在线");
                    }else if(text='1'){
                        text = text.replace("1","在线");
                    }

                    return text;
                }
            });

            //自定义过滤器
            app.filter('isPublic', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='0'){

                        text = text.replace("0","不公开");
                    }else if(text='1'){
                        text = text.replace("1","公开");
                    }
                    return text;
                }
            });
			//启用禁用过滤器
            app.filter('startClass', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='0'){

                        text = text.replace("0","btn-success");


                    }else if(text='1'){

                        text = text.replace("1","btn-danger");

                        // text.insertAfter("<button type=\"button\" class=\"btn btn-success btn-xs\">禁止</button>");
                    }
                    return text;
                }
            });			//启用禁用过滤器
            app.filter('startText', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='0'){

                        text = text.replace("0","启用");


                    }else if(text='1'){

                        text = text.replace("1","禁用");

                        // text.insertAfter("<button type=\"button\" class=\"btn btn-success btn-xs\">禁止</button>");
                    }
                    return text;
                }
            });
            //符号过滤器
            app.filter('component', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='1'){
                        text = text.replace("1",">");
                    }else if(text=='2'){
                        text = text.replace("2","=");
                    }else if(text=='3'){
                        text = text.replace("3","<");
                    }else if(text=='4'){
                        text = text.replace("4",">=");
                    }else if(text=='5'){
                        text = text.replace("5","<=");
                    }else if(text=='6'){
                        text = text.replace("6","!=");
                    }
                    return text;
                }
            });


            //发送方式过滤器
            app.filter('sendMethod', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='1'){
                        text = text.replace("1","邮件");
                    }else if(text='2'){
                        text = text.replace("2","短信");
                    }
                    return text;
                }
            });

            //发送方式过滤器
            app.filter('alertStatue', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='1'){
                        text = text.replace("1","启用");
                    }else if(text='2'){
                        text = text.replace("0","停用");
                    }
                    return text;
                }
            });


            //接口类型过滤器
            app.filter('interfaceType', function() {
                return function(text) {
                    var text = text+"";
                    if(text=='1'){
                        text = text.replace("1","模拟量");
                    }else if(text='2'){
                        text = text.replace("2","数字量");
                    }else if(text='3'){
                        text = text.replace("3","定位接口");
                    }else if(text='4'){
                        text = text.replace("4","数字接口");
                    }
                    return text;
                }
            });


            //主页Dashbord
            app.controller("homeListController",function ($scope, $http) {

                $scope.$on("$routeChangeSuccess",function(){

                    //跳转成功后触发该函数
                    console.log("ng-view content loaded!");

                			//请求几个模块的数据统计结果
                    $http.get("/index/getModuleCount")
                        .success(function (response) {

                            $scope.intelligentDevice=response.data.deviceCount;
                            $scope.mathInterface = response.data.interfaceCount;
                            $scope.alertTip = response.data.alertCount;

                        });
                        });

            })
			//设备列表
            app.controller("deviceListController",function ($scope, $http, $window) {

                $scope.$on("$routeChangeSuccess",function(){

                    //跳转成功后触发该函数
                    console.log("ng-view content loaded!");

                    $http.get("/device/deviceList")
						.success(function (response) {

						    $scope.name="ssssss";
						    $scope.devices = response.data;

						});
                });

                $scope.reverseStatus = function (deviceId) {

					//加载框开始
                    $(".loadEffect").show();
                    //请求数据
                    $http({
                        method: 'GET',
                        url: '/device/alertStatus',
                        params:{'deviceId':deviceId}
                    }).success(function (response) {
                        var status = response.status;
                        if(status==0){
                            $window.location.reload();

                        }else{
                            alert("添加设备出错了");
                        }

                    });
					//加载框结束
                }

            })

			//添加设备
			app.controller("addDeviceController",function ($scope,$http) {

                $scope.submit=function () {

                    //设备名称
                    var deviceName = $scope.Dname;
                    //设备是否公开
                    var deviceIsPublic = $scope.ispublic;
                    //设备简介
                    var deviceIntroduce = $scope.deviceIntroduce;
                    //设备描述
                    var deviceDescription = $scope.deviceDescription;

                    $http({
                        method: 'GET',
                        url: '/device/creatDevice',
                        params:{'deviceName':deviceName,'deviceIspublic':deviceIsPublic,'deviceIntroduce':deviceIntroduce,'deviceDescription':deviceDescription}
					}).success(function (response) {
                        var status = response.status;
                        if(status==0){
                            $("#myalert").fadeIn("slow");
                            window.location.href="#/";
						}else{
							alert("添加设备出错了");
						}

                        });




                }
                $scope.reset=function () {
                    $("#myalert").fadeOut("slow");

                }

            });

            //设备控制
			app.controller("devicesController",function ($scope,$http) {
                $scope.targetDevice = "1";
			    //查询在线的设备列表
                $http({
                    method: 'GET',
                    url: '/device/queryOnlineDevice'
                }).success(function (response) {
                    var status = response.status;
                    if(status==0){
                        $scope.onlineDevices = response.data;
                    }else{
                        alert("查询在线设备出错了");
                    }

                });

                $scope.sendMessage=function () {
					//获取发送设备的ID号
					var deivceId = $scope.targetDevice;
					//获取发送的消息的命令
					var controllerMessage = $scope.controMessage;
                    //发送控制命令
                    $http({
                        method: 'POST',
                        url: '/device/sendMessage',
						params:{"DeviceId":deivceId,"controllerMsg":controllerMessage}
                    }).success(function (response) {
                        var status = response.status;
                        if(status==0){
                          alert("消息发送成功!");
                        }else{
                            alert("消息发送失败，请稍后再试!");
                        }

                    });

                }
				
            });

			//添加数据接口
			app.controller("addMathInterfaceController",function ($scope,$http) {

				$scope.interfaceType = "1";



                //查询所有的设备
                $http({
                    method: 'GET',
                    url: '/device/deviceList'
                }).success(function (response) {
                    var status = response.status;
                    if(status==0){
                        $scope.devices = response.data;
                        $scope.deviceId = response.data[0].deviceId;
                    }else{
                        alert("查询设备出错了");
                    }

                });

                //添加设备
                $scope.submit = function () {

                        //设备Id
                        var deviceId = $scope.deviceId;
                        //接口名称
                        var deviceInterfaceName = $scope.interfaceName;
                        //接口类型
                        var deviceInterfaceType = $scope.interfaceType;
                        //单位
                        var deviceUnit = $scope.deviceUnit ;
                        //接口描述
                        var interfaceDescription = $scope.interfaceDescription;

                        alert(deviceId+":"+deviceInterfaceName+":"+deviceInterfaceType+":"+deviceUnit+":"+interfaceDescription);

                    $http({
                        method: 'GET',
                        url: '/dataInterface/create',
                        params:{'deviceId':deviceId,'deviceInterfaceName':deviceInterfaceName,'deviceInterfaceType':deviceInterfaceType,'deviceUnit':deviceUnit,'deviceIntefaceDes':interfaceDescription}
                    }).success(function (response) {
                        var status = response.status;
                        if(status==0){
                            window.location.href="#/mathLists"
                        }else{
                            alert("添加数据接口出错");
                        }

                    });

                }

                //重置
                $scope.reset = function () {




                }
            });

			//查询接口列表

            app.controller('mathInterfaceListController',function ($scope,$http,$route) {

                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'),'shine');

                // 指定图表的配置项和数据
                var option = {
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [820, 932, 901, 934, 1290, 1330, 1320],
                        type: 'line'
                    }]
                };
                myChart.setOption(option);

                $scope.checkData = function (id) {
                    var mathInterfaceId = id;
                    $('#chartDataModal').modal({
                        keyboard: true
                    })
                    //发送ajax请求获取接口数据
                    $.post("/dataInterface/getValue", { "deviceInterfaceId": mathInterfaceId},
                        function(data){
                            myChart.setOption({
                                xAxis: {
                                    data: data.data.category
                                },
                                series: [{
                                    // 根据名字对应到相应的系列
                                    data: data.data.datas
                                }]
                            });
                        }, "json");

                }
                $scope.updateModelshow = function (id){
						var mathInterfaceId = id;
                    $('#myModal').modal({
                        keyboard: true
                    })
					//发送ajax请求获取接口数据
                    $.post("/dataInterface/get", { "id": mathInterfaceId},
                        function(data){
                            $('#exampleInputEmail1').val(data.data.deviceInterfaceName)
                            $('#interfaceDescribtion').val(data.data.deviceIntefaceDes) ;
                        }, "json");

                    $('#saveUpdateInterface').click(function () {
                        var interfaceName = $('#exampleInputEmail1').val();
                        var interfaceDescribtion = $('#interfaceDescribtion').val() ;
                        //发送ajax保存修改数据
                        $.post("/dataInterface/update", { "deviceInterfaceId": mathInterfaceId,"deviceInterfaceName": interfaceName,"deviceIntefaceDes": interfaceDescribtion},
                            function(data){
								if(data.status==0){
                                    $route.reload();
                                    $('#myModal').modal('hide');
                                    alert("修改成功");

								}else{
                                    alert("修改失败");
								}

                            }, "json");
                    });

				}
                $http({
                    method: 'GET',
                    url: '/dataInterface/list'
                }).success(function (response) {
                    var status = response.status;
                    if(status==0){

                        $scope.interfaces = response.data;
                    }else{
                        alert("查询数据接口出错");
                    }

                });
            });

            //报警列表查询
			app.controller('alertListController',function ($scope,$http,$route) {

                $scope.updateAlert = function (id) {
					var alertId = id;
                    $('#alertUpModal').modal({
                        keyboard: true
                    })
                    $http({
                        method: 'POST',
                        url: '/alert/get',
                        params:{
                            'id':alertId
                        }
                    }).success(function (response) {

                        var status = response.status;
                        if(status==0){
							$('#alertName').val(response.data.deviceAlertName);
                            $('#alertTiaojian').val(response.data.deviceAlertVal);
                            $('#alertTJValue').val(response.data.deviceValue)
                        }else{
                            alert("查询报警接口出错");
                        }

                    });
                    $('#saveAlertUp').click(function () {

                        var alertName = $('#alertName').val();
                        var alertTiaojian = $('#alertTiaojian').val();
                        var alertTJValue = $('#alertTJValue').val();

                        $http({
                            method: 'POST',
                            url: '/alert/update',
                            params:{
                                'deviceAlertName':alertName,
                                'deviceAlertId':alertId,
                                'deviceAlertVal':alertTiaojian,
                                'deviceValue':alertTJValue
                            }
                        }).success(function (response) {

                            var status = response.status;
                            if(status==0){

                                $('#alertUpModal').modal('hide');
                                alert("修改成功!");
                                $route.reload();
                            }else{
                                alert("修改失败!");
                            }

                        });
                    });

                }


                $http({
                    method: 'GET',
                    url: '/alert/list',

                }).success(function (response) {

                    var status = response.status;
                    if(status==0){

                        $scope.alerts = response.data;
                    }else{
                        alert("查询报警接口出错");
                    }

                });





            });
            //添加报警
            app.controller('addAlertController',function ($scope,$http) {

                $scope.alertTiaojian = "1";
                $scope.alertSendMethod = "1";
                $http({
                    method: 'GET',
                    url: '/dataInterface/list'
                }).success(function (response) {

                    var status = response.status;
                    if(status==0){

                        $scope.interfaces = response.data;
                        $scope.alertDataSource = response.data[0].deviceInterfaceId;
                    }else{
                        alert("查询数据接口出错");
                    }

                });
                $scope.submit = function () {
                    var alertName = $scope.alertName;
                    var alertStart = $scope.alertStart;
                    var alertDataSource = $scope.alertDataSource;
                    var alertTiaoJian = $scope.alertTiaojian;
                    var alertTiaojianValue = $scope.alertTJValue;
                    var sendMethod = $scope.alertSendMethod;

                    if(alertStart){
                        alertStart = '1';
					}else{
                        alertStart = '0';
					}
                    $http({
                        method: 'GET',
                        url: '/alert/create',
                        params:{
                            'deviceAlertName':alertName,'deviceAlertStatus':alertStart,
                            'deviceInterfaceId':alertDataSource,'deviceInterfaceId':alertDataSource,
                            'deviceAlertVal':alertTiaoJian,'deviceValue':alertTiaojianValue,
                            'deviceAlertSendmethod':sendMethod
                        }
                    }).success(function (response) {

                        var status = response.status;
                        if(status==0){

                           window.location.href='#/alertList';
                        }else{
                            alert("查询数据接口出错");
                        }

                    });
                }
            });


            //添加定时器
			app.controller('addTimerController',function ($scope,$http) {

                $scope.timerWeek = "1";
                $scope.timerHoure = "0";
                $scope.timerMinue = "0";
				//获取发送目标的设备数据
                $http({
                    method: 'GET',
                    url: '/device/deviceList'
                }).success(function (response) {

                    var status = response.status;
                    if(status==0){

                        $scope.devices = response.data;
                        $scope.sendTarget = response.data[0].deviceId;
                    }else{
                        alert("查询发送设备出错");
                    }

                });

                $scope.submit = function () {

                    //定时器名称
					var timerName = $scope.TimerName;
					//发送目标
					var sendTarget = $scope.sendTarget;
					//星期
					var timWeek = $scope.timerWeek;
					//小时
					var timHour = $scope.timerHoure;
					//分钟
					var timMinue = $scope.timerMinue;
					//命令的内容
					var deviceTimerMes = $scope.controllerContent;
                    //添加定时器
                    $http({
                        method: 'GET',
                        url: '/deviceTimer/create',
						params:{'deviceTimerTode':sendTarget,'deviceTimerName':timerName,
						'deviceTiemrWeek':timWeek,'deviceTiemrHour':timHour,'deviceTimerMiner':timMinue,
							'deviceTimerMes':deviceTimerMes
						}
                    }).success(function (response) {

                        var status = response.status;
                        if(status==0){

                            window.location.href = "#/timerList";
                        }else{
                            alert("查询发送设备出错");
                        }

                    });
                }
            });


			app.controller('timerListController',function ($scope,$http) {
                //获取发送目标的设备数据
                $http({
                    method: 'GET',
                    url: '/deviceTimer/query'
                }).success(function (response) {

                    var status = response.status;
                    if(status==0){
                        $scope.timers = response.data;
                    }else{
                        alert("查询定时器列表出错");
                    }

                });
            });


        </script>
		
	</body>

</html>
