<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lql.graduation.mapper.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.lql.graduation.pojo.Device">
    <id column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="DEVICE_NAME" jdbcType="VARCHAR" property="deviceName" />
    <result column="APIKEY" jdbcType="VARCHAR" property="apikey" />
    <result column="APISCREAT" jdbcType="VARCHAR" property="apiscreat" />
    <result column="DEVICE_INTRODUCE" jdbcType="VARCHAR" property="deviceIntroduce" />
    <result column="DEVICE_DESCRIPTION" jdbcType="VARCHAR" property="deviceDescription" />
    <result column="DEVICE_ISPUBLIC" jdbcType="VARCHAR" property="deviceIspublic" />
    <result column="DEVICE_ISONLINE" jdbcType="INTEGER" property="deviceIsonline" />
    <result column="DEVICE_TIME" jdbcType="INTEGER" property="deviceTime" />
    <result column="DEVICE_STATUE" jdbcType="INTEGER" property="deviceStatue" />
    <result column="CRATE_BY" jdbcType="VARCHAR" property="crateBy" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    DEVICE_ID, USER_ID, DEVICE_NAME, APIKEY, APISCREAT, DEVICE_INTRODUCE, DEVICE_DESCRIPTION, 
    DEVICE_ISPUBLIC, DEVICE_ISONLINE, DEVICE_TIME, DEVICE_STATUE, CRATE_BY, CREAT_TIME, 
    UPDATE_BY, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DEVICE
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DEVICE
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lql.graduation.pojo.Device">
    insert into DEVICE (DEVICE_ID, USER_ID, DEVICE_NAME, 
      APIKEY, APISCREAT, DEVICE_INTRODUCE, 
      DEVICE_DESCRIPTION, DEVICE_ISPUBLIC, DEVICE_ISONLINE, 
      DEVICE_TIME, DEVICE_STATUE, CRATE_BY, 
      CREAT_TIME, UPDATE_BY, UPDATE_TIME
      )
    values (#{deviceId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{apikey,jdbcType=VARCHAR}, #{apiscreat,jdbcType=VARCHAR}, #{deviceIntroduce,jdbcType=VARCHAR}, 
      #{deviceDescription,jdbcType=VARCHAR}, #{deviceIspublic,jdbcType=VARCHAR}, #{deviceIsonline,jdbcType=INTEGER}, 
      #{deviceTime,jdbcType=INTEGER}, #{deviceStatue,jdbcType=INTEGER}, #{crateBy,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lql.graduation.pojo.Device">
    insert into DEVICE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        DEVICE_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="deviceName != null">
        DEVICE_NAME,
      </if>
      <if test="apikey != null">
        APIKEY,
      </if>
      <if test="apiscreat != null">
        APISCREAT,
      </if>
      <if test="deviceIntroduce != null">
        DEVICE_INTRODUCE,
      </if>
      <if test="deviceDescription != null">
        DEVICE_DESCRIPTION,
      </if>
      <if test="deviceIspublic != null">
        DEVICE_ISPUBLIC,
      </if>
      <if test="deviceIsonline != null">
        DEVICE_ISONLINE,
      </if>
      <if test="deviceTime != null">
        DEVICE_TIME,
      </if>
      <if test="deviceStatue != null">
        DEVICE_STATUE,
      </if>
      <if test="crateBy != null">
        CRATE_BY,
      </if>
      <if test="creatTime != null">
        CREAT_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="apikey != null">
        #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="apiscreat != null">
        #{apiscreat,jdbcType=VARCHAR},
      </if>
      <if test="deviceIntroduce != null">
        #{deviceIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="deviceDescription != null">
        #{deviceDescription,jdbcType=VARCHAR},
      </if>
      <if test="deviceIspublic != null">
        #{deviceIspublic,jdbcType=VARCHAR},
      </if>
      <if test="deviceIsonline != null">
        #{deviceIsonline,jdbcType=INTEGER},
      </if>
      <if test="deviceTime != null">
        #{deviceTime,jdbcType=INTEGER},
      </if>
      <if test="deviceStatue != null">
        #{deviceStatue,jdbcType=INTEGER},
      </if>
      <if test="crateBy != null">
        #{crateBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lql.graduation.pojo.Device">
    update DEVICE
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="apikey != null">
        APIKEY = #{apikey,jdbcType=VARCHAR},
      </if>
      <if test="apiscreat != null">
        APISCREAT = #{apiscreat,jdbcType=VARCHAR},
      </if>
      <if test="deviceIntroduce != null">
        DEVICE_INTRODUCE = #{deviceIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="deviceDescription != null">
        DEVICE_DESCRIPTION = #{deviceDescription,jdbcType=VARCHAR},
      </if>
      <if test="deviceIspublic != null">
        DEVICE_ISPUBLIC = #{deviceIspublic,jdbcType=VARCHAR},
      </if>
      <if test="deviceIsonline != null">
        DEVICE_ISONLINE = #{deviceIsonline,jdbcType=INTEGER},
      </if>
      <if test="deviceTime != null">
        DEVICE_TIME = #{deviceTime,jdbcType=INTEGER},
      </if>
      <if test="deviceStatue != null">
        DEVICE_STATUE = #{deviceStatue,jdbcType=INTEGER},
      </if>
      <if test="crateBy != null">
        CRATE_BY = #{crateBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lql.graduation.pojo.Device">
    update DEVICE
    set USER_ID = #{userId,jdbcType=VARCHAR},
      DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
      APIKEY = #{apikey,jdbcType=VARCHAR},
      APISCREAT = #{apiscreat,jdbcType=VARCHAR},
      DEVICE_INTRODUCE = #{deviceIntroduce,jdbcType=VARCHAR},
      DEVICE_DESCRIPTION = #{deviceDescription,jdbcType=VARCHAR},
      DEVICE_ISPUBLIC = #{deviceIspublic,jdbcType=VARCHAR},
      DEVICE_ISONLINE = #{deviceIsonline,jdbcType=INTEGER},
      DEVICE_TIME = #{deviceTime,jdbcType=INTEGER},
      DEVICE_STATUE = #{deviceStatue,jdbcType=INTEGER},
      CRATE_BY = #{crateBy,jdbcType=VARCHAR},
      CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
  </update>
</mapper>