<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lql.graduation.mapper.DeviceAlertMapper">
  <resultMap id="BaseResultMap" type="com.lql.graduation.pojo.DeviceAlert">
    <id column="DEVICE_ALERT_ID" jdbcType="VARCHAR" property="deviceAlertId" />
    <result column="DEVICE_ALERT_NAME" jdbcType="VARCHAR" property="deviceAlertName" />
    <result column="DEVICE_ALERT_STATUS" jdbcType="VARCHAR" property="deviceAlertStatus" />
    <result column="DEVICE_INTERFACE_ID" jdbcType="VARCHAR" property="deviceInterfaceId" />
    <result column="DEVICE_ALERT_VAL" jdbcType="VARCHAR" property="deviceAlertVal" />
    <result column="DEVICE_VALUE" jdbcType="VARCHAR" property="deviceValue" />
    <result column="DEVICE_ALERT_SENDMETHOD" jdbcType="INTEGER" property="deviceAlertSendmethod" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    DEVICE_ALERT_ID, DEVICE_ALERT_NAME, DEVICE_ALERT_STATUS, DEVICE_INTERFACE_ID, DEVICE_ALERT_VAL, 
    DEVICE_VALUE, DEVICE_ALERT_SENDMETHOD, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DEVICE_ALERT
    where DEVICE_ALERT_ID = #{deviceAlertId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DEVICE_ALERT
    where DEVICE_ALERT_ID = #{deviceAlertId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lql.graduation.pojo.DeviceAlert">
    insert into DEVICE_ALERT (DEVICE_ALERT_ID, DEVICE_ALERT_NAME, DEVICE_ALERT_STATUS, 
      DEVICE_INTERFACE_ID, DEVICE_ALERT_VAL, DEVICE_VALUE, 
      DEVICE_ALERT_SENDMETHOD, CREATE_BY, CREATE_TIME, 
      UPDATE_BY, UPDATE_TIME)
    values (#{deviceAlertId,jdbcType=VARCHAR}, #{deviceAlertName,jdbcType=VARCHAR}, #{deviceAlertStatus,jdbcType=VARCHAR}, 
      #{deviceInterfaceId,jdbcType=VARCHAR}, #{deviceAlertVal,jdbcType=VARCHAR}, #{deviceValue,jdbcType=VARCHAR}, 
      #{deviceAlertSendmethod,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lql.graduation.pojo.DeviceAlert">
    insert into DEVICE_ALERT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceAlertId != null">
        DEVICE_ALERT_ID,
      </if>
      <if test="deviceAlertName != null">
        DEVICE_ALERT_NAME,
      </if>
      <if test="deviceAlertStatus != null">
        DEVICE_ALERT_STATUS,
      </if>
      <if test="deviceInterfaceId != null">
        DEVICE_INTERFACE_ID,
      </if>
      <if test="deviceAlertVal != null">
        DEVICE_ALERT_VAL,
      </if>
      <if test="deviceValue != null">
        DEVICE_VALUE,
      </if>
      <if test="deviceAlertSendmethod != null">
        DEVICE_ALERT_SENDMETHOD,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceAlertId != null">
        #{deviceAlertId,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertName != null">
        #{deviceAlertName,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertStatus != null">
        #{deviceAlertStatus,jdbcType=VARCHAR},
      </if>
      <if test="deviceInterfaceId != null">
        #{deviceInterfaceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertVal != null">
        #{deviceAlertVal,jdbcType=VARCHAR},
      </if>
      <if test="deviceValue != null">
        #{deviceValue,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertSendmethod != null">
        #{deviceAlertSendmethod,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lql.graduation.pojo.DeviceAlert">
    update DEVICE_ALERT
    <set>
      <if test="deviceAlertName != null">
        DEVICE_ALERT_NAME = #{deviceAlertName,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertStatus != null">
        DEVICE_ALERT_STATUS = #{deviceAlertStatus,jdbcType=VARCHAR},
      </if>
      <if test="deviceInterfaceId != null">
        DEVICE_INTERFACE_ID = #{deviceInterfaceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertVal != null">
        DEVICE_ALERT_VAL = #{deviceAlertVal,jdbcType=VARCHAR},
      </if>
      <if test="deviceValue != null">
        DEVICE_VALUE = #{deviceValue,jdbcType=VARCHAR},
      </if>
      <if test="deviceAlertSendmethod != null">
        DEVICE_ALERT_SENDMETHOD = #{deviceAlertSendmethod,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DEVICE_ALERT_ID = #{deviceAlertId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lql.graduation.pojo.DeviceAlert">
    update DEVICE_ALERT
    set DEVICE_ALERT_NAME = #{deviceAlertName,jdbcType=VARCHAR},
      DEVICE_ALERT_STATUS = #{deviceAlertStatus,jdbcType=VARCHAR},
      DEVICE_INTERFACE_ID = #{deviceInterfaceId,jdbcType=VARCHAR},
      DEVICE_ALERT_VAL = #{deviceAlertVal,jdbcType=VARCHAR},
      DEVICE_VALUE = #{deviceValue,jdbcType=VARCHAR},
      DEVICE_ALERT_SENDMETHOD = #{deviceAlertSendmethod,jdbcType=INTEGER},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where DEVICE_ALERT_ID = #{deviceAlertId,jdbcType=VARCHAR}
  </update>


<select id="queryDeviceAlertListByInterId" parameterType="string" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from DEVICE_ALERT
  where DEVICE_INTERFACE_ID = #{deviceInerfaceData}
</select>

  <select id="queryDeviceAlertListByStatus" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from DEVICE_ALERT
    where DEVICE_ALERT_STATUS = #{status}
  </select>

  <select id="queryDeviceAlertByInterfaceId" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from DEVICE_ALERT
    where DEVICE_INTERFACE_ID = #{deviceAlertInterfaceId} AND DEVICE_ALERT_STATUS = 1

  </select>


</mapper>