 <div class="control-header" ng-controller="addMathInterfaceController">
 	
<h3> 添加数据接口 <small> Add Input </small></h3>
 	
 	<div class="box-body .container">
 				
 	<form>
   <div class="form-group">
    <label for="exampleInputEmail1" style="font-weight: normal;">接口名称：</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="interfaceName"/>
  </div>
 		
 		

        <div class="form-group">
    	所属设备：

<select class="form-control"  ng-model="deviceId">
  <option ng-repeat="device in devices" value="{{device.deviceId}}">{{device.deviceName}}</option>

</select>



   </div>
   
   
    <div class="form-group">
    	接口类型：
<select class="form-control" ng-model="interfaceType">
  <option value="1">模拟量接口</option>
  <option value="2">数字量接口</option>
  <option value="3">定位接口</option>
  <option value="4">图片接口</option>
</select>
   </div>
  
  
   <div class="form-group">
    <label for="exampleInputEmail2" style="font-weight: normal;">单位 ：</label>
    <input type="text" class="form-control" id="exampleInputEmail2" ng-model="deviceUnit">
  </div>
 
 		
 <div class="form-group">
   <label for="exampleInputEmail1" style="font-weight: normal;">接口描述：</label>
   <textarea class="form-control" rows="3" ng-model="interfaceDescription"></textarea>
  </div>


   
   
  <div class="row alert-bt">
  	
  	<!-- Standard button -->
<button type="button" class="btn btn-success col-md-3" ng-click="submit()">确定</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-danger col-md-3" ng-click="reset()">重置</button>
  	
  	
  </div> 
   
   
 
 	</form>
 							
 	</div>
 	
	
 </div>
 