 <div class="list-header" ng-controller="mathInterfaceListController">

	 <section class="content-header ">
<h3>数据接口列表 <small> List of your Inputs </small></h3>
	 </section>

	 <section class="content" style="background:#fff;">
		 <div class="box">
			 <div class="box-body" >
 		<table class="table table-bordered table-hover">


		<tr>
    		<th>名称</th>
    		<th>ID</th>
    		<th>所属设备id</th>
    		<th>接口类型</th>
    		<th>更新时间</th>
    		<th>编辑</th>
    		<th>数据查看</th>
    	
  		</tr>
  		
  		<tr ng-repeat=" interface in interfaces">
    		<td>{{interface.deviceInterfaceName}}</td>
   		 	<td>{{interface.deviceInterfaceId}}</td>
   		 	<td>{{interface.deviceId}}</td>
   		 	<td>{{interface.deviceInterfaceType|interfaceType}}</td>
   		 	<td>{{interface.updateTimer|date:'yyyy-MM-dd HH:mm' }}</td>
   		 	<td> <!-- 按钮触发模态框 -->
				<button class="btn btn-primary btn-sm" ng-click="updateModelshow(interface.deviceInterfaceId)">
					编辑
				</button></td>
   		 	<td><button class="btn btn-primary btn-sm" ng-click="checkData(interface.deviceInterfaceId)">
				查看数据
			</button></td></td>
  		</tr>

         </table>
			 </div>
		 </div>
	 </section>
 		
 		
 		
 		
 		
 	</div>




 </div>


